#contact_modal {
    display: none;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.50em;
    color: #e54858;
    display: block;
    word-wrap: break-word;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: -10px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    padding-left: 34px;
    padding-right: 50px;
    background-color: #FAFAFA;
    height: 300px;
}

.photograph-header h1{
    color: #D3573C;
    font-size: 64px;
    margin: 0px;
}

.photograph-header .cardUser__cityCountry{
    color: #901C1C;
    font-size: 24px;
    margin: 0px 0px 19px 0px;
}

.photograph-header .cardUser__tagline{
    font-size: 18px;
}

img.cardUser__img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button{
    width: 170px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #901C1C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.divMenuMedia{
    display: flex;
    align-items: center;
    margin: 0px 100px 20px 100px;
}

.divMenuMedia_p, button{
    font-size: 18px;
    font-weight: 600;
}

#filter, ul.container{
    width: 170px;
}

ul button{
    border: none;
}

button, ul.container li{
    height: 59px;
    background-color: #901C1C;
    color: white;
}

li.dropdown_popularite{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.popularite {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0.3rem 1.6rem;
    border-radius: 5px;
    cursor: pointer;
}

.bx {
    font-size: 1.1rem;
    margin-left: 15px;
    padding: 15px 0px;
}

.dropdown {
    position: absolute;
    width: 170px;
    margin-top: 0.3rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.05s ease-in-out;
}

.dropdown li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -9px;
    padding: 0.3rem 1rem;
    list-style-type: none;
    color: white;
}

.submenu2{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} 

.trait{
    display: inline-block;
    position: relative;
    margin-top: 0px;
    border-top: 2px solid #ffffff;
}
    
.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
    margin-top: -50px;
}

.arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
    margin-left: 15px;
    padding: 15px 0px;
}

.border-bottom-radius{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mainPhotographer_gallery, .mainPhotographer_gallery__title-likes, .mainPhotographer_gallery__price-likes{
    display: flex;
}

.mainPhotographer_gallery{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4.375rem 3rem;
    margin: 0px 100px;
}

.divImgPhotographer{
    display: flex;
    flex-direction: column;
}

.divImgPhotographer > img{
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.mainPhotographer_gallery__title-likes{
    justify-content: space-between;
    gap: 0px 10px;
    color: #901C1C;
    font-size: 23px;
}

.mainPhotographer_gallery__price-likes {
    align-items: center;
    gap: 5px;
    font-weight: 500; 
}

.mainPhotographer_gallery__price-likes > img.mainPhotographer_gallery__icone{
    width: 21px;
    height: 24px;
    cursor: pointer;
    margin-top: -2px;
}

.modal {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    margin: auto;
    padding: 35px;
    background-color: #DB8876;
    border-radius: 5px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    font-size: 30px;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

textarea{
    width: 100%;
    height: 200px;
}