ul li{
    list-style-type: none;
}

#contact_modal {
    display: none;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.50em;
    color: #e54858;
    display: block;
    word-wrap: break-word;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: -10px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    padding-left: 34px;
    padding-right: 50px;
    background-color: #FAFAFA;
    height: 300px;
}

.photograph-header h1{
    color: #D3573C;
    font-size: 64px;
    margin: 0px;
}

.photograph-header .cardUser__cityCountry{
    color: #901C1C;
    font-size: 24px;
    margin: 0px 0px 19px 0px;
}

.photograph-header .cardUser__tagline{
    font-size: 18px;
}

img.cardUser__img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button{
    width: 170px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #901C1C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover{
    background-color: #D3573C;
}

 .divMenuMedia{
    display: flex;
    height: 50px;
    margin: 20px 100px 20px 100px;
}

.divMenuMedia_p, button{
    font-size: 18px;
    font-weight: 600;
}

.filter_content{
    position: relative;
    width: 170px;
}

.dropdown{
    z-index: 10;
    position: absolute;
    width: 170px;
    margin-left: 20px;
    background-color: #901C1C;
    border-radius: 5px;
  
}

.btn_drop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    background-color: #901C1C;
    color: white; 
    border-radius: 5px;
}

.dropdown_content{
    width: 170px;
    max-height: 0;
    height: 59px;
    padding: 0;
    margin: 0;
    background-color: #901C1C;
    color: white;
    overflow: hidden;
    transition: all 0.05s ease-in-out;
}

.dropdown_content li{
    position: relative;
    width: 170px;
}

button, ul li{
    background-color: #901C1C;
    color: white;
    border: none;
}



.btn_drop, 
.dropdown_content li button{
    width: 100%;
    height: 59px;
    padding: 15px;
    background-color: #901C1C;
    color: white;
    border:none;
    outline: none;
    cursor: pointer;
}

.dropdown_li{
    display: block;
    height: 0;
}

.dropdown_content li button{
    display: block;
    text-align: left;
    background-color: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} 

.active{
    max-height: 200px;
    overflow: visible;
}

.rotate {
    transform: rotate(180deg);
    transition: 0.2s ease;
    /* margin-left: 15px;
    padding: 15px 0px; */
}


.submenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.trait{
    display: inline-block;
    position: relative;
    width: 80%;
    margin-top: 0px;
    border-top: 1px solid #ffffff;
}
    
.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
    margin-top: -50px;
}

.border-bottom-radius{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mainPhotographer_gallery, 
.mainPhotographer_gallery__title-likes, 
.mainPhotographer_gallery__price-likes{
    display: flex;
}

/* Gallery */

.mainPhotographer_gallery{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4.375rem 3rem;
    margin: 0px 100px;
}

.sectionImgPhotographer{
    display: flex;
    flex-direction: column;
}

.sectionImgPhotographer > img{
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.mainPhotographer_gallery__title-likes{
    justify-content: space-between;
    gap: 0px 10px;
    color: #901C1C;
    font-size: 23px;
}

.mainPhotographer_gallery__price-likes {
    align-items: center;
    gap: 5px;
    font-weight: 500; 
}

.mainPhotographer_gallery__price-likes > img.mainPhotographer_gallery__icone{
    width: 21px;
    height: 24px;
    cursor: pointer;
    margin-top: -2px;
}

.modal {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    margin: auto;
    padding: 35px;
    background-color: #DB8876;
    border-radius: 5px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 28px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    font-size: 24px;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
}

textarea{
    width: 100%;
    height: 100px;
    border: none;
    border-radius:5px;
}