#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    padding-left: 34px;
    padding-right: 50px;
    background-color: #FAFAFA;
    height: 300px;
}

.photograph-header :nth-child(1) { 
    order: 2; 
}
.photograph-header :nth-child(2){
    order: 1;
}
.photograph-header :nth-child(3){
    order: 3;
}

.photograph-header h1{
    color: #D3573C;
    font-size: 64px;
    margin: 0px;
}

.photograph-header .cardUser__cityCountry{
    color: #901C1C;
    font-size: 24px;
    margin: 0px 0px 19px 0px;
}

.photograph-header .cardUser__tagline{
    font-size: 18px;
}

img.cardUser__img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button{
    width: 170px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #901C1C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.divMenuMedia{
    display: flex;
    align-items: center;
    margin: 0px 100px;
}

.divMenuMedia_p, ul.container li{
    font-size: 18px;
    font-weight: 700;
}

.container{
    width: 170px;
}

ul.container li{
    height: 59px;
    background-color: #901C1C;
    color: white;
}

.popularite {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    position: relative;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bx {
    font-size: 1.1rem;
  }
  
  .dropdown {
    position: absolute;
    width: 170px;
    margin-top: 0.3rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.3s cubic-bezier(0.16, 1, 0.5, 1);
  }
  
  .dropdown li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -6px;
    padding: 0.4rem 1rem;
    list-style-type: none;
    color: white;
  }

  .submenu2{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} 

.trait{
    display: inline-block;
    position: relative;
    top:-20px;
    margin-top: 0px;
    border-top: 2px solid #ffffff;
}
    
.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
}

.arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

.border-bottom-radius{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.mainPhotographer_gallery{
    background-color: #312E2E;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}